server/Core/__pycache__/configuration.cpython-311.pyc
server/Core/__pycache__/settings.cpython-311.pyc
server/Core/__pycache__/configuration.cpython-311.pyc
server/User/__pycache__/urls.cpython-311.pyc
server/User/__pycache__/views.cpython-311.pyc
__pycache__